/* 
- dark green - 1C2A2C
- footer dark - 24282B
- font-family: 'Raleway', sans-serif;
- 300 400 500 900 (normal and italic)

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  Temporary Styles */

/* * {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
} */

/* html, 
body {
    border: none;
} */

/* h1,h2,h3,h4,h5,h6,p, a {
    border: 2px solid rgb(179, 84, 84);
} */

/* End temporary styles */


/* Utility classes */

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

.padded    { padding: 5%;    }
.padded-lg { padding: 10%;   }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }

.margin-b-0 { margin-bottom: 0; }

.bg-featured { background-color: #1C2A2C; }
.bg-dark     { background-color: #24282B; }

.light-text { color: white; } 

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }


/* Typography */

body {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h1 { font-size: 8rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.8rem; }

.not-bold { font-weight: 400; }

.subtle { 
    opacity: 0.8;
    font-size: 0.9rem;
    font-style: italic;
}

p, li {
 font-weight: 300;   
 line-height: 1.4;
 margin-bottom: 0.8rem;
 font-size: 1.1rem;
}

p:last-child, 
li:last-child {
    margin-bottom: 0;
}

a { color: inherit; }

nav a { text-decoration: none; }

a:hover { color: #4e91ad; }

.fab {
    font-size: 1.5rem;
    padding-left: 1rem;
}


/* Footer  */

footer h2 {
    font-size: 6rem;
    line-height: 1;
}

footer p { margin-bottom: 0.2rem; }


/* Background Images */

.bg-image {
    background-color: #24282B; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/the-bunker-1.jpg');
}

.bg-roof {
    background-image: url('/images/the-bunker-5.jpg');
}
.bg-bed {
    background-image: url('/images/the-bunker-1.jpg');
}
.bg-hallway {
    background-image: url('/images/the-bunker-3.jpg');
}
.bg-lounge {
    background-image: url('/images/the-bunker-4.jpg');
}
.bg-lounge-2 {
    background-image: url('/images/the-bunker-2.jpg');
}
.bg-sheets {
    background-image: url('/images/the-bunker-7.jpg');
}
.bg-map {
    background-image: url('/images/the-bunker-6.png');
}

.bg-padded {
    padding-bottom: 30%;
}

.social-banner { background-position: 50% 17%;}

[class*="grid-"], [class*="grid_"], [class~="grid"] {
    margin:0; 
    }

/* SM - max-width in pixels approximately 768px */
@media (max-width: 48em) {

    .hide-sm { display: none; }

    .flex-flip-sm { flex-direction: column-reverse; }

    h1 { font-size: 4rem; }

    footer h2 { font-size: 3rem; }

    .social-banner {
        background-image: none; 
        background-color: #1C2A2C;
        min-height: 30vh;
    }
}